/* padding for mobile landscape to give more room */
.contact {
  padding-bottom: 50px;
}

.contact h3 {
  margin-top: 4em;
  text-align: center;
}

@media (max-width: 600px) {
  .contact h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 20px;
  }
}

.contact .outer-container {
  position: relative;
  overflow: hidden;
  height: 152px;
}

@media (max-width: 600px) {
  .contact .outer-container {
    height: auto;
  }
}

.contact .gravatar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: auto;
  height: auto;
  border: solid 1px #ccc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

@media (max-width: 600px) {
  .contact .gravatar {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 125px;
  }
}

.contact .text-container {
  margin-top: 16px;
  margin-left: 75px;
  padding-top: 24px;
  padding-left: 110px;
  width: 100%;
  height: 120px;
  font-size: 20px;
  background: #eee;
  box-sizing: border-box;
  border: solid 1px #ccc;
}

.contact .text-container p {
  position: relative;
  z-index: 5;
}

.contact .text-container label {
  width: 60px;
  font-size: 14px;
  color: #aaa;
  text-transform: uppercase;
}

.arrow-right {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 16px;
	width: 0;
	height: 0;
  background: #fff;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 80px solid #eee;
}

@media (max-width: 600px) {
  .contact .text-container {
    padding: 55px 0 20px 15px;
    margin: -50px 0 0;
    height: auto;
    font-size: 18px;
    border: none;
  }

  .contact .text-container label {
    font-size: 12px;
  }

  .arrow-right {
    display: none;
  }
}

.contact .mobile {
  display: none;
}

@media (max-width: 768px) {
  .contact .mobile {
    display: inline-block;
  }

  .contact .desktop {
    display: none;
  }
}
