.details {
  margin-bottom: 4em;
  text-align: center;
}

.details section {
  margin-top: 5.5em;
}

.details h2 {
  font-weight: bold;
}

.details .time {

  h3.header {
    padding: 10px 0;
    background: #eee;
  }

  .calendar {
    div {
      display: inline-block;
      text-align: left;
      width: 50px;
      height: 50px;
      padding: 5px;
      color: #ccc;
    }

    .selected {
      color: #fff;
      background: #7EB1DC;
    }

    .day {
      font-size: .8em;
    }

    .of-week {
      text-align: center;
      font-size: 1.75em;
      font-weight: bold;
    }
  }
}

.details .ceremony {
  margin-bottom: 0;
}
.details .date {
  font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
  font-size: 60px;
}
.details .point {
  margin-bottom: -20px;
  width: 70px;
  -webkit-animation: point 1.6s infinite;
     -moz-animation: point 1.6s infinite;
       -o-animation: point 1.6s infinite;
          animation: point 1.6s infinite;
}

.details .tips {
  margin-top: 4em;
}

.details .tips ul {
  float: left;
  width: 40%;
  font-size: 18px;
  text-align: left;
}

.details .tips ul:first-of-type {
  margin-left: 15%;
}

.details .tips ul li {
  margin-top: .75em;
}

.details .tips ul li i {
  width: 24px;
}

.details .venue strong,
.details .accommodations strong,
.details .todo strong {
  font-size: 18px;
}
.details .accommodations h3 {
  margin-bottom: 20px;
}
.details .accommodations p {
  margin-top: 2em;
}
.details .accommodations li,
.details .todo li {
  display: inline-block;
  float: left;
  margin-top: 30px;
  padding: 0 20px;
  width: 50%;
}

.details .todo li {
  text-align: left;
}

.details .accommodations li:nth-child(odd),
.details .todo li:nth-child(odd) {
  clear: both;
}

@media (max-width: 480px) {
  .details .tips ul {
    width: 50%;
    margin-left: 0 !important;
    font-size: 14px;
  }

  .details .accommodations li,
  .details .todo li {
    width: 100%;
  }

  .details .time .header.second {
    margin-top: 60px;
  }
}

@keyframes point {
  0% { transform: translateY(0px); }
  35% { transform: translateY(10px); }
  70% { transform: translateY(0px); }
  100% { transform: translateY(0px); }
}

@-moz-keyframes point {
  0% { transform: translateY(0px); }
  35% { transform: translateY(10px); }
  70% { transform: translateY(0px); }
  100% { transform: translateY(0px); }
}

@-webkit-keyframes point {
  0% { transform: translateY(0px); }
  35% { transform: translateY(10px); }
  70% { transform: translateY(0px); }
  100% { transform: translateY(0px); }
}

@-o-keyframes point {
  0% { transform: translateY(0px); }
  35% { transform: translateY(10px); }
  70% { transform: translateY(0px); }
  100% { transform: translateY(0px); }
}
