.details {
  text-align: center;
}

.details .date {
  font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
  font-size: 60px;
}

.details .location {
  margin-top: 4em;
  font-size: 14px;
}

.details .location strong {
  font-size: 20px;
}

iframe {
  margin-top: 2em;
}
