.details {
  text-align: center;
}

.details section {
  margin-top: 3.5em;
}

.details h2 {
  font-weight: bold;
}

.details .ceremony {
  margin-bottom: 0;
}

.details .date {
  font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
  font-size: 60px;
}

.details ul {
  float: left;
  width: 40%;
  font-size: 18px;
  text-align: left;
}

.details ul:first-of-type {
  margin-left: 15%;
}

@media (max-width: 480px) {
  .details ul {
    width: 50%;
    margin-left: 0 !important;
    font-size: 14px;
  }
}

.details ul li {
  margin-top: .75em;
}

.details ul li i {
  width: 24px;
}

.details .venue strong {
  font-size: 18px;
}
