h1 {
  position: absolute;
  z-index: 2;
  bottom: 15px;
  width: 100%;
  font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
  font-size: 140px;
  font-weight: 400;
  line-height: 0.9em;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 120px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 80px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 75px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 65px;
    bottom: 20px;
  }
}

.slick-slider {
  margin-top: -78px;
}

.home-slideshow .slick-track {
  height: 100vh !important;
}

.home-background {
  // position: absolute;
  // z-index: 1;
  // top: 0;
  // left: 0;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.home-background.bg1 {
  background-image: image-url("index/proposal.jpg");
}

.home-background.bg2 {
  background-image: image-url("index/home-2-sized.jpg");
}

.home-background.bg3 {
  background-image: image-url("index/home-1-sized.jpg");
}

.home-background.bg4 {
  background-image: image-url("index/home-3-sized.jpg");
}

.home-background.bg5 {
  background-image: image-url("index/home-4-sized.jpg");
}
