<div class="container contact">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Questions?&nbsp;&nbsp;Call or email us anytime!</h3>
      <div class="outer-container">
        <%= image_tag("contact/gravatar.jpg", :class => 'gravatar') %>
        <div class="text-container">
          <p>
            <label>Email</label>
            guttenberg.m@gmail.com
          </p>
          <p>
            <label>Phone</label>
            <span class="desktop">(415) 847-3506</span>
            <a href="tel:4158473506" class="mobile">(415) 847-3506</a>
          </p>
        </div>
        <div class="arrow-right"></div>
      </div>
    </div>
  </div>
</div>
