<div class="container details">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <img src="http://cdn-media-1.lifehack.org/wp-content/files/2015/02/Wedding06-main.jpg" />
      <h2>You're invited to our wedding on</h2>
      <p class="date">September 24, 2016</p>
      <h2>Ceremony begins at 3:30pm</h2>
      <div class="location">
        <p>
          <strong>Redwood Hill Gardens</strong><br>
          1188 Furlong Rd<br>
          Sebastopol, CA 95472<br>
        </p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25014.559269325706!2d-122.92045242568736!3d38.39941287955064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8084253595682535%3A0xcf506f3f2f1b08d0!2sRedwood+Hill+Gardens!5e0!3m2!1sen!2sus!4v1451275242687" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
