<div class="container registry">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h3>We have registries at the following stores:</h3>
      <ul>
        <li>
          <a href="http://www.macys.com">
            <img src="http://cdn.business2community.com/wp-content/uploads/2015/11/macys-logo-transparent_1446205865425_414375_ver1.0.jpg" />
          </a>
        </li>
        <li>
          <a href="http://www.bloomingdales.com">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Bloomingdale's_Logo.svg/1280px-Bloomingdale's_Logo.svg.png" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
