<div class="container registry">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>We have a registry at the following store:</h3>
      <ul>
        <li>
          <a href="https://www.amazon.com/wedding/registry/3TQZD24U36I9E" target="_blank">
            <%= image_tag 'amazon-registry.jpg' %>
          </a>
        </li>
      </ul>

      <p>Please note we are keeping our physical item registry small since we are planning to move internationally.</p>
      <h3>If you wish to give a gift, check and cash gifts will be much appreciated.</h3>
    </div>
  </div>
</div>
